@import url(./reset.css);
@import url(./profile-info-section.css);
@import url(./nav-bar.css);

body {
    background-color: var(--white-bg-links);
    line-height: 1.5;
    padding: 0 16px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

a {
    color: var(--blue-bg-border-links);
    font-weight: 600;
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
}

.main-button {
    color: var(--white-bg-links);
    background-color: var(--blue-bg-border-links);
}

.secondary-button {
    background-color: transparent;
    border: 1px solid var(--blue-bg-border-links);
}

.main-button,
.secondary-button {
    padding: 8px 16px;
    border-radius: 31px;
}